# Node
frontend/node_modules/
frontend/dist/

# Java / Spring Boot
backend/target/
backend/.mvn/
backend/data/
backend/*.iml

# Python / ML
ml-service/venv/
ml-service/__pycache__/
ml-service/**/*.pyc
ml-service/.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
